@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v12/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


*{
    margin:0;
    padding:0;
}

html {
    font-size: 18px;
}

html, .cta {
    font-family: 'Open Sans';
}

h1 {
    font-family: Poppins;
}
    
.gridcontainer {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 500px;
    justify-content: center;
}    

#header {
    background-image: url('../images/bg-hero-mobile.svg');
    background-repeat: none;
    background-color: hsl(193, 100%, 96%);
    background-size: cover;
    padding-bottom: 40px;
    
}

.logo_top_container {
    margin-left: 25px;
    margin-top: 25px;
    display:inline-block;
}

.logo_top {
    max-width:75%;
    height: auto;
}

.cta_top {
    float:right;
    margin-right: 25px;
    margin-top: 25px;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: white;
    font-size: 16px;
    width: 25%;
    box-shadow: 0 0 5px hsl(208, 11%, 55%);
    border: none;
}

.hidesmall {
    display:none;
}

#header h1{
    margin-top: 100px;
    text-align: center;
}

#header p{
    margin-top: 25px;
    text-align: center;
    margin-right: 60px;
    margin-left: 60px;
    line-height: 1.5;
}
    
.cta_header {
    margin-top: 25px;
    margin-bottom: 50px;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 10px;
    background-color: hsl(322, 100%, 66%);
    font-size: 16px;
    width: 70%;
    box-shadow: 0 0 5px hsl(208, 11%, 55%);
    border: none;
    margin-left: 15%;
    color:white;
}

.image_top {
    max-width: 80%;
    margin-left: 10%;
    
}

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.info {
    width:90%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px hsl(208, 11%, 55%);
    margin: 25px auto;
}

.info img {
    width:80%;
    height: auto;
    display: block;
    margin: 50px auto;
}

.info p {
    width: 85%;
    margin: 15px auto;
    padding-bottom: 15px;
}


#call {
    box-sizing: border-box;
    background-color: white;
    width: 90%;
    margin-bottom:-75px;
    z-index: 1;
    margin-left: 5%;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 5px hsl(208, 11%, 55%);
    font-size: 16px;
    margin-top: 125px;
}

#call h1 {
    padding-top: 30px;
}

.cta_main {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 10px 10px;
    background-color: hsl(322, 100%, 66%);
    width: 70%;
    box-shadow: 0 0 5px hsl(208, 11%, 55%);
    color:white;
    font-weight:bold;
    font-size: 16px;
    border:none;
}

#footer {
    display:flex;
    flex-direction: column;
    background-color: hsl(192, 100%, 9%);
    padding-top: 150px;
    padding-left:25px;
    color:white;
    flex-wrap: nowrap;
}

.bottom_logo {
    width: 50%;
    margin-bottom: 25px;
}

li {
    list-style-type: none;
}

.contact img {
    position: relative;
    right: 30px;
    top: 27px;
    margin-left: 30px;
}

.contact li {
    margin-left: 40px;
    margin-right: 20px;
}

.links {
    margin-top:50px;
    line-height: 2.5;
}

.links2 {
    line-height:  2.5;
}


a {
    text-decoration: none;
    color: white;
}

.social_media {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.social_media img{
    width: 3%;
    border: white 1px solid;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}


.signature {
    padding-top: 20px;
    text-align:center;
    font-size: 12px;
}

.signature a {
    text-decoration: underline;
}


@media only screen and (min-width: 501px) {

.gridcontainer {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
}

    
#header {
    background-image: url('../images/bg-hero-desktop.svg');
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-row: auto;
}

/* Header Column 1*/
.col1 {
    grid-column: 1/span 1;
}

.logo_top_container {
    margin-left: 60px;
    margin-top: 25px;
    display:inline-block;
}
 
#header h1{
    margin-top: 125px;
    margin-left: 60px;
    text-align: left;
}

#header p{
    text-align: left;
    width: 80%;
}
    
.cta_header {
    width: 40%;
    margin-left: 60px;
} 

/* Header Column 2*/
.col2 {
    grid-column: 2/span 1;
}

.cta_top {
    box-sizing: border-box;
    width: 22%;
    padding: 7px 10px;
    font-size: 14px;
    margin-right: 60px;
} 

.hidebig {
    display: none;
}

.hidesmall {
    display:initial;
}

.image_top_container {
    width: 110%;
    clear: right;
    float: right;
    margin-top: 100px;
}

.image_top {
    width: 100%;
    height: auto;
}

/* DETAILS SECTION */

#details {
    margin-top: 150px;
}

.conversations, .grow, .users {
    display: flex;
    align-items:center;
    box-sizing: border-box;
    padding-right:50px;
    padding-left:50px;
}

.grow, .users {
    display: flex;
    flex-direction:row-reverse;
}



.info {
    width: 75%;
}

.info p {
    color: gray;
    font-size: 16px;
    margin: 0;

}

.info img {
    width:35%;
}

.explain {
    text-align:left;
    width: 55%;
    padding-left:25px;
}  

.conversations img {
    margin-right:100px;
}
   
#call {
    width: 50%;
    margin-left: 25%;
}

.cta_main {
    width: 50%;
    border-radius: 30px;
    padding: 20px 10px;
}

/*Footer Section*/

#footer {
    padding-top:200px;
    padding-right:70px;
    padding-left: 70px;
    display:grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}    


.bottom_logo {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
    width:60%;
}

.contact {
    grid-row: 2/ span 1;
    grid-column: 1/span 1;
}

.links {
    grid-row: 2/span 1;
    grid-column: 2/ span 1;
    margin-top:14px;
    justify-self: center;
}

.links2 {
    grid-row: 2/ span 1;
    grid-column: 3/ span 1;
    margin-top:14px;
    justify-self: center;
}

.social_media {
    grid-row: 2/ span 1;
    grid-column: 4/ span 1;
    margin-top:15px;
    text-align: left;
    margin-left: 25px;
}

.social_media img{
    width: 5%;
    border: white 1px solid;
    border-radius: 50%;
    padding: 7px;
    margin: 5px;
}

.signature {
    grid-row: 3/ span 1;
    grid-column: 4/span 1;
    text-align: left;
    margin-left: 25px;
    margin-top:45px;
}   

   

    
    
} /* end of media query curly brace */



